@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* ==========>  Fonts  <========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

/* Estilos básicos para las barras de desplazamiento */
::-webkit-scrollbar{
  width: 0.50rem;
  height: 0.50rem;
}

/* Estilo del riel de la barra de desplazamiento */
::-webkit-scrollbar-track{
  background: white;
}

/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar-thumb{
  background: theme('colors.gray.900');
  border-radius: 4px;
  transition: background 0.3s ease;
}

/* Animación al pasar el cursor sobre la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.primary'); /* Cambia el color al pasar el cursor */
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
}